<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493854865080-eq2du1fb8ha64h7dho95f5mlv70688l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493854865080-eq2du1fb8ha64h7dho95f5mlv70688l0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbT9bABBVRo12Eei0Ju1-dRMYDGjiMV4I</string>
	<key>GCM_SENDER_ID</key>
	<string>493854865080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristSpots</string>
	<key>PROJECT_ID</key>
	<string>flutter-tourist-spots</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tourist-spots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493854865080:ios:806321b077bd6bb2a4264d</string>
</dict>
</plist>